.container{
    font-family: 'Noto Serif KR', serif;
    background-color:#dfe6e9;
}

article{
    display: inline-block;   
    flex-direction: column;
    color: black; 
    background-color: white;
    margin-top: 25%; 
    margin-bottom: 25%;
    text-align: center;
    padding: 10%;
    border-radius: 5%;
    box-shadow: 3px 3px 3px gray; 
}
.startBtn .bTn{
    text-align: center;
}

h1{
    font-size: 6vw;
    float: left;
    
}
h2{
    font-size: 4vw;
}

h3{
    font-size: 4vw;
    text-align: left;
}

.btn{
    width: 80%;
}
.question {
    display: none;
}

.result{
    display: none;
}

#img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.share{
    margin: 0 auto; 

}

.Background{

    background-color: #ffeaa7;
    z-index: -2;
}

.progress-bar{
    background-color: gray;
}

.mainicon{
    width: 30%;
    float: right;
    margin-top: 5%;
}